# virtual envs / caches
venv/
.env/
__pycache__/
.ipynb_checkpoints/
*.pyc
jens_changes/
.env

DOH_AMHD_NO_PII.db
PlotlyDemo.mp4
*.xlsx
*.csv 
credentials.json
settings.json
test_queries.sql
.coverage

# OS stuff
.DS_Store
Thumbs.db

# node / misc (just in case)
node_modules/

# jupyter lab extensions (from the warning)
share/jupyter/